In [1]:
import pandas as pd
df = pd.read_csv('Twitter_Sentiments.csv')
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [3]:
df.describe()

                 id         label
count  31962.000000  31962.000000
mean   15981.500000      0.070146
std     9226.778988      0.255397
min        1.000000      0.000000
25%     7991.250000      0.000000
50%    15981.500000      0.000000
75%    23971.750000      0.000000
max    31962.000000      1.000000

In [4]:
df.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [5]:
df.dtypes

id        int64
label     int64
tweet    object
dtype: object

In [6]:
df = df.drop('id',axis=1)

In [7]:
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [8]:
df['label'].head()

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [9]:
df['tweet'].head(10)

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
5    [2/2] huge fan fare and big talking before the...
6     @user camping tomorrow @user @user @user @use...
7    the next school year is the year for exams.ð...
8    we won!!! love the land!!! #allin #cavs #champ...
9     @user @user welcome here !  i'm   it's so #gr...
Name: tweet, dtype: object

In [10]:
import re
# clean text function
def clean_text(text):
    # Remove @mentions
    text = re.sub(r'@\w+', '', text)
    # Remove URLs
    text = re.sub(r'http\S+|www\S+', '', text)
    # Remove hashtags (optional, as they may carry sentiment info)
    text = re.sub(r'#\w+', '', text)
    # Remove numbers and special characters
    text = re.sub(r'[^A-Za-z\s]', '', text)
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text

# execute the function
df['cleaned_tweet'] = df['tweet'].apply(clean_text)
df.head(10)

,label,tweet,cleaned_tweet
0,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,0,@user @user thanks for #lyft credit i can't us...,thanks for credit i cant use cause they dont o...
2,0,bihday your majesty,bihday your majesty
3,0,#model i love u take with u all the time in ...,i love u take with u all the time in ur
4,0,factsguide: society now #motivation,factsguide society now
5,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before they leav...
6,0,@user camping tomorrow @user @user @user @use...,camping tomorrow danny
7,0,the next school year is the year for exams.ð...,the next school year is the year for exams can...
8,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land
9,0,@user @user welcome here ! i'm it's so #gr...,welcome here im its so

In [11]:
df = df.drop('tweet',axis=1)
df.head()

   label                                      cleaned_tweet
0      0  when a father is dysfunctional and is so selfi...
1      0  thanks for credit i cant use cause they dont o...
2      0                                bihday your majesty
3      0            i love u take with u all the time in ur
4      0                             factsguide society now

In [12]:
# converting all text to lower case
df['cleaned_tweet'] = df['cleaned_tweet'].str.lower()
df.head()

   label                                      cleaned_tweet
0      0  when a father is dysfunctional and is so selfi...
1      0  thanks for credit i cant use cause they dont o...
2      0                                bihday your majesty
3      0            i love u take with u all the time in ur
4      0                             factsguide society now

In [13]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [14]:
import nltk
nltk.download('punkt')
df['tokenized_tweet'] = df['cleaned_tweet'].apply(nltk.word_tokenize)
df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,label,cleaned_tweet,tokenized_tweet
0,0,when a father is dysfunctional and is so selfi...,"[when, a, father, is, dysfunctional, and, is, ..."
1,0,thanks for credit i cant use cause they dont o...,"[thanks, for, credit, i, cant, use, cause, the..."
2,0,bihday your majesty,"[bihday, your, majesty]"
3,0,i love u take with u all the time in ur,"[i, love, u, take, with, u, all, the, time, in..."
4,0,factsguide society now,"[factsguide, society, now]"

In [15]:
# Removing common stop words like "the", "is", "in", etc., which don’t contribute much to sentiment classification.
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
df['tokenized_tweet'] = df['tokenized_tweet'].apply(lambda x: [word for word in x if word not in stop_words])
df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,label,cleaned_tweet,tokenized_tweet
0,0,when a father is dysfunctional and is so selfi...,"[father, dysfunctional, selfish, drags, kids, ..."
1,0,thanks for credit i cant use cause they dont o...,"[thanks, credit, cant, use, cause, dont, offer..."
2,0,bihday your majesty,"[bihday, majesty]"
3,0,i love u take with u all the time in ur,"[love, u, take, u, time, ur]"
4,0,factsguide society now,"[factsguide, society]"

In [16]:
# Lemmatization reduces words to their base forms (e.g., "running" becomes "run")
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')
lemmatizer = WordNetLemmatizer()

# Lemmatize the tokenized tweets
df['lemmatized_tweet'] = df['tokenized_tweet'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])
df.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

,label,cleaned_tweet,tokenized_tweet,lemmatized_tweet
0,0,when a father is dysfunctional and is so selfi...,"[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drag, kid, dy..."
1,0,thanks for credit i cant use cause they dont o...,"[thanks, credit, cant, use, cause, dont, offer...","[thanks, credit, cant, use, cause, dont, offer..."
2,0,bihday your majesty,"[bihday, majesty]","[bihday, majesty]"
3,0,i love u take with u all the time in ur,"[love, u, take, u, time, ur]","[love, u, take, u, time, ur]"
4,0,factsguide society now,"[factsguide, society]","[factsguide, society]"

In [17]:
# tf-idf vectorization (transform the data into numerical form)
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=5000)  # Use the top 5000 most frequent words
X = tfidf_vectorizer.fit_transform(df['cleaned_tweet'])
y = df['label']

# Check the shape of the TF-IDF features
print("TF-IDF feature matrix shape:", X.shape)

TF-IDF feature matrix shape: (31962, 5000)

In [18]:
# train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shape of the training and testing sets
print("Training set shape:", X_train.shape)
print("Test set shape:", X_test.shape)

Training set shape: (25569, 5000)
Test set shape: (6393, 5000)

In [21]:
# model selection
from sklearn.linear_model import LogisticRegression

# Initialize the Logistic Regression model
model = LogisticRegression(max_iter=1000)

# Train the model on the training data
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

In [22]:
# Model Evaluation
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")

Accuracy: 0.9412
Precision: 0.8704
Recall: 0.2061
F1-Score: 0.3333